.password-container {
    position: relative;
    width: 300px;
    margin-bottom: 10px;
}

.password-input {
    width: 100%;
    padding-right: 40px; /* Zwiększ padding, aby zrobić miejsce na przycisk wewnątrz inputu */
    box-sizing: border-box; /* Zapewnia, że padding nie zwiększa szerokości pola input */
}

.show-password-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 18px;
}